
body { font-family: Arial, sans-serif; background-color: #bce2f3; font-size:25px }
ul { list-style: none; padding: 0; margin: 0; }
a { text-decoration: none; color: white; display: block; padding: 20px 40px; }


.navbar { background-color: #0502a3; }
.main-menu { display: flex; }
.menu-item { position: relative; }
.menu-item:hover { background-color: #0502a3; }


.drop-down {
    display: none;
    position: absolute;
    background-color: #0502a3;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgb(255, 255, 255);
}

.drop-down a { color: #ffffff; border-bottom: 1px solid #000000; }
.drop-down a:hover { background-color: #006786; }

.menu-item:hover .drop-down {
    display: block;
}