body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: 0;
}

.container {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.card {
  background: white;
  width: 300px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border: none;   /* invisible table */
  text-align: center;
}

.pic img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
}

.login {
  font-weight: bold;
  font-size: 22px;
  padding-top: 10px;
}

.desc {
  color: gray;
  font-size: 14px;
  padding-top: 10px;
}

.location {
    font-size: 14px;
    padding-top: 10px;
}

.social img {
  width: 30px;
  margin: 5px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  font-size: 17px;
  cursor: pointer;
  padding-top: 10px;
}
