/* ===== Global ===== */
body {
    font-family: 'Segoe UI', sans-serif;
    background-image: url('https://ap-southeast-2-seek-apac.graphassets.com/AEzBCRO50TYyqbV6XzRDQz/LsIcD8IpSsS6QA76vmsv');
}

/* ===== Landing Page ===== */
.landing {
    min-height: 100vh;
    background: 
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.4)),
        url("https://ap-southeast-2-seek-apac.graphassets.com/AEzBCRO50TYyqbV6XzRDQz/LsIcD8IpSsS6QA76vmsv");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
}



.cv-card {
    transition: 0.3s;
    cursor: pointer;
}

.cv-card:hover {
    transform: scale(1.05);
}

/* ===== Resume Pages ===== */
section {
    padding: 100px 0;
}

.profile-img {
    width: 150px;
    border-radius: 50%;
    border: 5px solid #0d6efd;
}

.nav-link {
    margin-left: 15px;
    font-weight: bold;
}

/* ===== Experience ===== */
#experience ul li {
    font-size: 1.1rem;
    margin-bottom: 8px;
}

/* ===== Contact ===== */
#contact p {
    font-size: 1.1rem;
}

 {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}