body {
    background-color: white;
    display: flex;
    margin: 0px;
    height: 100vh;
    justify-content: center;
    align-items: center
}

button {
    font-size: 18px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
    
}